/* GERAL
***************/
html,body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161616;
    color: white;
}

.section-background{
    position: relative;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.section-tile{
    text-align: center;
    font-size: 30px;
}

.section-text{
    padding: 10px;
    margin: 0%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.7);
}

.ancora{
    position: absolute;
    top: -85px;
}

/* HEADER
***************/
.main-header{
    position: relative;
}

.header-video{
    width: 100%;
}

.navigation-list{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3b3b3b;
    z-index: 100;
}

.navigation-list{
    padding: 0;
}

.navigation-list-item{
    display: inline-block; /*um do lado do outro */
    padding: 15px;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-link:hover{
    color: #0079d0;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
}


/* O LUGAR
***************/
.lugar{
    background-image: url(./imagens/bar_interior.jpg);
}

.drinks{
    background-image: url(./imagens/drinks_background.jpg);
}


/* DRINKS
***************/
.drink-image{
    max-width: 30%;
    margin-top: -30%;
}


/* FOOTER
***************/
.main-footer{
    position: relative;
    padding: 10px;
}

.footer-section{
    display: inline-block;
    vertical-align: top;
    width: 32%;
    min-width: 230px;
}